:root {
  --primary-black: #2d2d2d;
  --primary-white: #fff;
  --primary-red: #cf3145;
  --primary-blue: #34d0ff;
  --secondary-blue: #2f89a5;
  --primary-orange: #b99b5b;
  --desktop: 1220px;
  --tablet: 768px;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
  font-display: swap;
  color: var(--primary-black);
  transition: all 0.25s ease-in 0s;
  background: linear-gradient(338deg, var(--primary-blue), var(--primary-orange), var(--secondary-blue));
  background: linear-gradient(22deg, var(--secondary-blue), var(--primary-orange), var(--primary-blue));
  background-size: 800% 800%;
  animation: cycleColours 10s ease-out infinite;
}

@keyframes cycleColours {
  0% {
    background-position: 0% 81%
  }
  50% {
    background-position: 100% 20%
  }
  100% {
    background-position: 0% 81%
  }
}

/* @custom-media --desktop (min-width: 1024px);
@custom-media --tablet (min-width: 768px); */

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: inherit;
}

h1 {
  letter-spacing: 1px;
  font-weight: 200;
}

h4 {
  position: relative;
  top: 30px;
}

header {
  min-height: 240px;
}

input {
  height: 25px;
  width: 50%;
  padding: 4px;
  border-radius: 5px;
  border: 2px solid black;
  outline: none;
}

button {
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid black;
}

hr {
  border: 1px solid black;
  margin: 20px 0;
  padding: 0;
}

#activeSnippet {
  font-weight: bold;
  font-size: 35px;
}

.snippet--item {
  border: 2px solid black;
  padding: 10px;
  background: white;
  margin: 1px;
}

.progress {
  min-height: 85px;
}

.good-green {
  color: green;
}

.bad-red {
  color: red;
}

.neutral {
  color: black;
}

/* Animations */

.text-pop-up {
  animation: text-pop-up-top 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes text-pop-up-top {
  0% {
    transform: translateY(0);
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    transform: translateY(-20px);
    transform-origin: 50% 50%;
    text-shadow: 0 0px 0 #cccccc, 0 0px 0 #cccccc, 0 0px 0 #cccccc, 0 0px 0 #CCCCCC, 0 0px 0 #cccccc, 0 0px 0 #cccccc, 0 0px 0 #cccccc, 0 2px 0 #cccccc, 0 0px 0 #cccccc, 0 15px 8px rgba(0, 0, 0, 0.3);
  }
}